<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahmed's Site</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Parisienne&display=swap" rel="stylesheet">

</head>
<body>
    <div class="top-container">
        <h1>I'm Ahmed</h1>
        <h2><em>a Dreamer</em></h2>
    </div>

    <div class="middle-container">
        <div class="profile">
          <img src="static/images/profile.png" alt="Ahmed profile picture">
          <p class="intro">Mechanical Engineer, aspiring software developer. <strong>Director at <a href="https://phasealpha.io">PhaseAlpha</a></strong></p>
        </div>
        <hr>
        <div class="skills">
          <h2>My Skills.</h2>
          <div class="skill-row">
            <img class="python-pic" src="static/images/Python-logo.png" alt="">
            <h3>Python</h3>
            <p>I've been working with Python for close to 6 years now, mainly for automation projects. I've recently started furthering my knowledge in my spare time.</p>
            <p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>
          </div>
          <div class="skill-row">
            <img class="sql-pic" src="static/images/Postgresql.png" alt="">
            <h3>SQL, PostgreSQL</h3>
            <p>I picked up SQL to organise data in some of the projects I was working on, the files are much lighter than spreadsheets :)</p>
            <p>&#11088;&#11088;&#11088;&#9734;&#9734;</p>
          </div>
          <div class="skill-row">
            <img class="vb-pic" src="static/images/VB.NET-Logo.png" alt="">
            <h3>VB.NET</h3>
            <p> Just like anyone else, I think my relationship with VB is complicated, it's easy to prototype and test, but hard to structure.</p>
            <p>&#11088;&#11088;&#11088;&#11088;&#9734;</p>
          </div>
        </div>
        <hr>
        <div class="contact-me">
          <h2>Get In Touch</h2>
          <h3>For collaboratin, and projects.</h3>
          <p class="intro">I'm interested in all things software and robotics. Particularly automation!</p><br>
          <a class="btn" href="mailto:ahmed.hagi@phasealpha.io">CONTACT ME</a>
        </div>
        <hr>
        <div>
            <h3>Education</h3>
            <ul>
                <li>MSc by Research - University of Huddersfield</li>
                <li>BEng - University of Huddersfield</li>
            </ul>
            <h3>Hobbies</h3>
            <ol>
                <li>Interval Training</li>
                <li>Mathematics</li>
            </ol>
            <hr>
            <h3>Experience</h3>
            <table class="table-center" cellspacing="20">
                <thead>
                    <tr>
                        <th>Dates</th>
                        <th>Work</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2019 - Present</td>
                        <td>CAD Automation Developer</td>
                    </tr>
                    <tr>
                        <td>2017 - 2019</td>
                        <td>Mechanical Engineer</td>
                    </tr>
                    <tr>
                        <td>2016 - Present</td>
                        <td>Director/Engineer/Creator</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
      </div>
      
      
      <div class="bottom-container">
        <a class="footer-link" href="https://linkedin.com/in/ahmed-hagi-68075b89/">LinkedIn</a>
        <a class="footer-link" href="https://www.github.com/jigypeper">GitHub</a>
        <a class="footer-link" href="https://phasealpha.io">Website</a>
        <p class="copyright">© 2022 Ahmed Hagi.</p>
      </div>
    
    
</body>
</html>